/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

p {
  text-align: center;
}


/* Header */
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: grey;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}



/* Navigasi */

nav {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #191919;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
}

nav div img {
  width: 90px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #777;
}

/* Artikel */
article {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

p {
  margin-bottom: 10px;
}

/* Footer */
footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* Kustomisasi */

/* Ubah warna latar belakang body */
body {
  background-color: #f5f5f5;
}

/* Ubah warna link */
a {
  color: #0099ff;
}

/* Ubah warna heading */
h2, h3 {
  color: #444;
}

/* Ubah font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Ubah lebar maksimal blog */
body {
  max-width: 960px;
  margin: 0 auto;
}

/* Tambahkan gambar header */
header {
  background-image: url("https://pixabay.com/id/images/search/header/");
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* Tambahkan media sosial */
footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  padding: 0 10px;
}

#jumpscare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  z-index: 9999; /* Ensure the jumpscare image is on top of other content */
}

#jumpscare img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
}
